
:root {
	--bg-color: #ffe4c4;
	--secondary-bg-color: hsl(33, 100%, 85%);
	--primary-text-color: #1a0e00;
	--secondary-text-color: #663800;
	--tertiary-text-color: #804600;

	--slate-grey: #6F7D8C;
}


:root {
	--bg-color: #0f274d;
	--secondary-bg-color: hsl(217, 67%, 22%);
	--primary-text-color: hsl(240, 2%, 85%);
	--secondary-text-color: hsl(240, 2%, 80%);
	--tertiary-text-color: hsl(240, 2%, 70%);

	--slate-grey: red;
}

body {
	// background-color: bisque;

	background-color: var(--bg-color);
	font-family: "Overpass", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.pinned-wrapper {
	height: 200vh;
}

.pinned-content-container {
	// background: hsl(calc(var(--t) * 360) 70% 50%);

	height: 100vh;
	position: sticky;
	top: 0;
}

.central-container {
	width: fit-content;
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) translateY(calc(var(--t, 0) * -30vh)) scale(calc(1 - var(--t, 0) * 0.4));
}
.central-container span {
	font-size: 2rem;
	color: var(--secondary-text-color);
}

.central-container span:first-child {
	align-self: flex-start;
	transform: translateY(30px);
}

.central-container data {
	align-self: center;
	font-size: 20rem;
	font-weight: 200;

	color: var(--primary-text-color);
}

.central-container span:last-child {
	align-self: flex-end;
	transform: translateY(-90px);
}

.btn {
	text-decoration: none;
	padding: 1rem 2rem;
	display: inline-block;

	text-align: center;


	// background-color: lighten(var(--bg-color), 1); //var(--slate-grey);

	background-color: var(--secondary-bg-color);
	
	border: none;
	// border-color: #1a1a1a;
	// border: #1a1a1a solid;
	// border-width: 0.15rem 0.15rem 0 0.15rem;
	
	


	border-radius: 10px;
	font-size: 2rem;
	
	color: var(--tertiary-text-color);
	font-weight: 500;

	position: absolute;
	left: 50%;
	top: 70vh;

	transform: translateX(-50%);
	opacity: calc(calc(1 - var(--t)/0.01));
}

.btn--effects {
	transition: background-image .2s;

	border: solid var(--tertiary-text-color);
	border-width: 0 1.5px 0 1.5px;

	transform: translate(-50%, 5px);
}

.btn--effects {
	transition: transform  .2s;
}

.btn--effects:hover {
	// background-image: linear-gradient(to top, hsla(33, 100%, 70%, 0.4), hsla(33, 100%, 70%, 0));
	
	transform: translate(-50%, 0px);
}

.btn--effects:active {
	transform: translate(-50%, 3px);
}


// ACTIVITY LIST

.activity-block {
	position: absolute;
	left: 50%;
	top: 35vh;
	// transform: ;

	background-color: var(--secondary-bg-color);
	padding: 25px;
	border-radius: 10px;


	transition: transform;

	transform: translate(-50%, calc((1 - var(--t)) * 30vh));
	opacity: var(--t);

	color: var(--primary-text-color);
}

.activity-list {
	display: grid;
	grid-template-columns: auto auto 1fr;
	row-gap: 0.5rem;
	}

.activity-heading {
	font-size: 3rem;
	font-weight: 150;
}

.activity-item {
	list-style-type: none;
	margin-top: 0.25rem;
	font-weight: 250;

	font-size: 1.2rem;

	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	align-items: baseline;
	column-gap: 0.5ch;
}

.activity-number {
	// text-align: right;
}


// Jump to

a.disabled-link {
	pointer-events: none;
    cursor: default; 
}

#details {
	position: absolute;
	top: 100vh;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}